<div class="editor__footer--left">
    <button class="editor__btn editor__run">RUN</button>
    <button class="editor__btn editor__submit">SUBMIT</button>
  </div>
  <div class="editor__footer--right">
    <div class="editor__console">
      <ul> <li><p><strong>Compilation_status: </strong><%=status%></p></li>
        <li><p><strong>TestCase-1: </strong><%=status01%></p></li>
        <li><p><strong>TestCase-2: </strong><%=status02%></p></li>
        <li><p><strong>TestCase-3: </strong><%=status03%></p></li></ul>
    </div>
    
    <ul class="editor__console-logs">
    </ul>
  </div>